<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartbilling">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Design.AddProductItemsActivity"></activity>
        <activity android:name=".Design.DetailsCollectionActivity" />
        <activity android:name=".Design.DetailsCreditNoteActivity" />
        <activity android:name=".Design.DetailsPerformInvoiceActivity" />
        <activity android:name=".Design.DetailsProductActivity" />
        <activity android:name=".Design.DetailsPackingActivity" />
        <activity android:name=".Design.DetailsOrderActivity" />
        <activity android:name=".Design.DetailsPartyActivity" />
        <activity android:name=".Design.DetailsBrokerActivity" />
        <activity android:name=".Design.DetailsCompanyActivity" />
        <activity android:name=".Design.AddCollectionActivity" />
        <activity android:name=".Design.CollectionActivity" />
        <activity android:name=".Design.AddPerformInvoiceActivity" />
        <activity android:name=".Design.PerformInvoiceActivity" />
        <activity android:name=".Design.AddCreditNoteActivity" />
        <activity android:name=".Design.CreditNoteActivity" />
        <activity android:name=".Design.AddPackingListActivity" />
        <activity android:name=".Design.PackingListActivity" />
        <activity android:name=".Design.AddOrderActivity" />
        <activity android:name=".Design.OrderActivity" />
        <activity android:name=".Design.AddTransportActivity" />
        <activity android:name=".Design.TransportActivity" />
        <activity android:name=".Design.SizeActivity" />
        <activity android:name=".Design.AddCompanyActivity" />
        <activity android:name=".Design.CompanyActivity" />
        <activity android:name=".Design.AddPartyActivity" />
        <activity android:name=".Design.PartyActivity" />
        <activity android:name=".Design.AddBrokerActivity" />
        <activity android:name=".Design.BrokerActivity" />
        <activity android:name=".Design.AddProductActivity" />
        <activity android:name=".Design.LoginActivity" />
        <activity android:name=".Design.DashboardActivity" />
        <activity
            android:name=".Design.InvoiceActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Design.AddInvoiceActivity" />
        <activity
            android:name=".Design.ProductActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Design.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>